@use "variables" as v;
@use "mixins" as m;

.backoffice {
    // margin: 0 2%;
    

    .navAdmin {
        display: flex;
        // width: 40%;
        background-color: v.$color-background-label;
        justify-content: space-around;

        a {
            // width: 30%;
            @include m.btn-submit2;
        }
    }

    ////////////////////////Mise en page des formulaires/////////////////////////////
    .addServices,
    .modifyServices,
    .addReviews,
    .deleteServices {
        background-color: #000;
        border: 1px solid #fff;
        // padding: 2% 0;

        form {
            // display: flex;
            width: 100%;

            .form-admin-group {
                display: flex;
                padding: 1% 5%;

                @media screen and (max-width: v.$md-breakpoint) {
                    display: block;
                    padding: 1% 4%;
                }

                .form-admin-item {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    #idService {
                        max-width: 30%;
                    }

                    input,
                    select,
                    textarea {
                        display: flex;
                        @include m.placeholder;
                        padding: 2%;

                        @media screen and (max-width: v.$md-breakpoint) {
                            margin-bottom: 2rem;
                        }
                    }
                }

                .btn-submit {
                    @include m.btn-submit;

                    @media screen and (max-width: v.$md-breakpoint) {
                        width: 100%;
                        margin-top: 1rem;
                        padding: 2rem 0;
                    }
                }
            }
        }
    }

    .administration {
        .servicesAdmin {
            h2 {
                text-align: center;
                text-transform: uppercase;
            }
        }

        .reviewsAdmin {

            h2 {
                text-align: center;
                text-transform: uppercase;
            }

            .reviewsContainer {
                // display: flex;

                .reviewsGrid {
                    display: flex;
                    // width: 100%;
                    // flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    background-color: v.$color-background-label;
                    margin: 1% 5%;

                    .reviewSelect {
                        display: flex;
                        flex-basis: 49%;
                        justify-content: space-between;
                        align-items: center;
                        // margin: 0 1%;
                        border: 1px solid #fff;

                        // .reviewClient {
                        // }

                        .deleteReview {
                            form {
                                .btn-delete {
                                    display: flex;
                                    justify-content: right;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/////Utilisée aussi dans main.scss/////
// .picturesView {
    // border: 2px solid #fff;

    .deleteWork {
        display: flex;
        flex-direction: column;
        justify-content: end;

        form {
            display: flex;
            align-items: bottom;

            button {
                display: flex;
                padding: 20rem, 20rem, 0, 0;
            }
        }
    }
// }

.addWorks {
    background-color: #000;
    border: 1px solid #fff;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
        // width: 100%;
        text-align: center;

        .form-group {
            .form-admin-group {
                display: flex;

                padding: 2% 5%;
                @media screen and (max-width: v.$md-breakpoint) {
                    display: block;
                    padding: 1% 4%;
                }

                .form-admin-item {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    input {
                        display: flex;
                        @include m.placeholder;

                        @media screen and (max-width: v.$md-breakpoint) {
                            margin-bottom: 2rem;
                        }
                    }

                    input[type="file"] {
                        cursor: pointer;
                        padding-left: 5.5rem;

                        &:active {
                            color: #000;
                            background-color: v.$color-primary;
                        }
                    }
                }
            }
        }

        .btn-submit {
            @include m.btn-submit;
            padding: 2rem 3rem;

            @media screen and (max-width: v.$md-breakpoint) {
                width: 100%;
                margin-top: 1rem;
                padding: 2rem 0;
            }
        }
    }
}

.btn-delete {
    @include m.btn-delete;

    display: flex;
    justify-content: right;

}
