@use "variables" as v;

.slideReviews {
    margin: 3% 5%;

    #splideReviews, #splideReviewsAdmin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;

        &:hover .splide__arrows {
            opacity: 1;
            transition: opacity 0.5s;
        }

        .splide__track {
            .splide__list {
                .splide__slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: v.$font-size-m;
                }
            }
        }
        .splide__arrows {
            opacity: 0;
            transition: opacity 0.5s;

            .splide__arrow {
                background-color: v.$color-primary;
                opacity: 0.1;
                // margin: 0 5%;
                font-size: v.$font-size-l;
                transition: opacity 0.8s;

                &:hover {
                    opacity: 1;
                    transition: opacity 0.8s;
                }
            }
        }
    }
}

.slidePictures {
    // padding-bottom: 3% 0;
    border-radius: 5rem;
    background-color: v.$color-background-label;

    @media screen and (max-width: v.$md-breakpoint) {
        border-radius: 2rem;
    }

    #splidePictures {
        &:hover .splide__arrows {
            opacity: 1;
            transition: opacity 0.5s;
        }

        .splide__track {
            padding-bottom: 7rem;

            h2 {
                text-align: center;
                text-transform: uppercase;
            }
            // .splide__list {
            //     .splide__slide {
            //     }
            // }
        }

        .splide__arrows {
            opacity: 0;
            transition: opacity 0.5s;

            .splide__arrow {
                background-color: v.$color-primary;
                opacity: 0.3;
                font-size: v.$font-size-l;
                transition: opacity 0.8s;

                @media screen and (max-width: v.$md-breakpoint) {
                    font-size: 200%;
                }

                &:hover {
                    opacity: 1;
                    transition: opacity 0.8s;
                }
            }
        }
    }
}
