/*
* Carroussel Review
*/

#carousel {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;

    span {
        color: #fff;
    }
}

.precedent,
.suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;

    &:hover {
        opacity: 1;
    }
}

.precedent {
    left: 0;
}

.suivant {
    right: 0;
}

// .carousel:hover .precedent,
// .carousel:hover .suivant {
//     opacity: 1;
// }

.carousel {
    display: flex;
    font-size: medium;
}

.deleteReview {
    font-weight: bolder;
    background-color: #7d0606;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    // margin: 3px;

    &:hover {
        background-color: #c91f1f
    }
}