@use "variables" as v;

.slideReviews {
    margin: 3% 5%;

    #splideReviews, #splideReviewsAdmin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;

        &:hover .splide__arrows {
            opacity: 1;
            transition: opacity 0.5s;
        }

        .splide__track {
            .splide__list {
                .splide__slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3rem;
                }
            }
        }
        .splide__arrows {
            opacity: 0;
            transition: opacity 0.5s;

            .splide__arrow {
                background-color: v.$color-primary;
                opacity: 0.1;
                margin: 0 15%;
                font-size: 3rem;
                transition: opacity 0.8s;

                &:hover {
                    opacity: 1;
                    transition: opacity 0.8s;
                }
            }
        }
    }
}

.slidePictures {
    margin: 3% 0;
    background-color: v.$color-background-label;

    #splidePictures {
        &:hover .splide__arrows {
            opacity: 1;
            transition: opacity 0.5s;
        }

        .splide__track {
            .splide__list {
                .splide__slide {
                }
            }
        }

        .splide__arrows {
            opacity: 0;
            transition: opacity 0.5s;

            .splide__arrow {
                background-color: v.$color-primary;
                opacity: 0.3;
                font-size: 3rem;
                transition: opacity 0.8s;

                &:hover {
                    opacity: 1;
                    transition: opacity 0.8s;
                }
            }
        }
    }
}
