@use "variables" as v;
@use "mixins" as m;

.contact {
    h1 {
        font-size: v.$font-size-l;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 5rem 0;
    }

    h2 {
        margin: 0 0 2rem 0;
        text-align: center;
    }

    #errorLogin {
        text-align: center;
    }

    .form {
        display: flex;
        justify-content: center;

        form {
            width: 70%;

            @media screen and (max-width: v.$md-breakpoint) {
                width: 90%;
            }
        }

        .container {
            justify-content: center;
            text-align: center;

            .form-group {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: v.$sm-breakpoint) {
                    display: block;
                }
            }

            .form-group-account {
                display: flex;
                justify-content: center;
            }

            .form-group,
            .form-group-account {
                padding: 1rem 0;

                label {
                    text-transform: uppercase;
                    margin: 0.3rem 0;
                    color: v.$color-primary;
                }

                input,
                select,
                textarea {
                    background-color: #000;
                    color: v.$color-primary;
                    font-size: v.$font-size-xs;
                    border-radius: 0.4rem;
                    padding: 1rem;
                    border: 0.2rem solid rgb(176, 174, 174);
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                textarea:-webkit-autofill,
                textarea:-webkit-autofill:hover,
                textarea:-webkit-autofill:focus,
                select:-webkit-autofill,
                select:-webkit-autofill:hover,
                select:-webkit-autofill:focus {
                    -webkit-text-fill-color: v.$color-primary;
                    -webkit-box-shadow: 0 0 0px #000 inset;
                    box-shadow: 0 0 0px #000 inset;
                    transition: background-color 5000s ease-in-out 0s;
                }

                .form-item-group {
                    flex-basis: 48%;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .errorsTxt {
                        color: v.$color-danger;
                    }

                    .form-photo {
                        display: flex;
                        justify-content: space-around;
                        font-size: v.$font-size-xs;
                        background-color:#000;
                        color: v.$color-primary;
                        border-radius: 0.4rem;
                        padding: 0.6rem;
                        border: 0.2rem solid rgb(176, 174, 174);

                        * {
                            cursor: pointer;

                            &:active {
                                color: v.$color-btn-green;
                            }
                        }
                    }

                    .warningFiles {
                        display: flex;
                        margin: 0;
                        justify-content: space-around;

                        p {
                            margin: 0.2rem 0;
                            text-align: left;
                            font-size: v.$font-size-xs;
                        }
                    }
                }

                .form-item-area {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    text-align: left;
                }
            }

            input[type="submit"] {
                @include m.btn-submit2;
            }
        }
    }
}

#resetPwd {
    padding: 0.7rem;
    margin: 0;

    a {
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: v.$color-primary;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;

    a {
        @include m.btn-submit2;
        text-decoration: none;
    }
}
