footer {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    .footerView {
        display: flex;
        justify-content: space-evenly;
        padding: 5rem 0;
        margin: 0 20%;

        div, div > a {
            color: #fff;
            text-decoration: none;
            font-size: 2.5rem;
        }

        .copyright {
            display: flex;
        }
    }
}
