@use "variables" as v;

header {
    .headerView {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(15, 15, 15, 0.5) 51%, rgba(0, 0, 0, 0.8) 100%);
        padding: 0.5rem 5rem;

        @media screen and (max-width: v.$lg-breakpoint) {
            font-size: v.$font-size-s*0.85;
        }

        @media screen and (max-width: v.$md-breakpoint) {
            padding: 0 2rem 0 0;
            font-size: v.$font-size-s*0.7;
        }

        @media screen and (max-width: v.$sm-breakpoint) {
            display: block;
            padding: 0 0.2rem;
            font-size: v.$font-size-s*0.65;
        }

        .company {
            color: v.$color-primary;
            display: flex;
            flex-basis: 35%;

            @media screen and (max-width: v.$xl-breakpoint) {
                flex-basis: 45%;
            }

            @media screen and (max-width: v.$lg-breakpoint) {
                flex-basis: 55%;
            }

            .logo {
                
                @media screen and (max-width: v.$sm-breakpoint) {
                    margin: 0 2rem;
                }

                img {
                    max-width: 100%;
                }
            }

        }

        .rightMenu {
            flex-basis: 45%;

            @media screen and (max-width: v.$sm-breakpoint) {
                display: flex;
                justify-content: space-between;
                padding: 0 0.2rem;
            }

            .authentification {
                display: flex;
                justify-content: right;
                color: #fff;
                font-size: v.$font-size-m;

                nav {
                    ul {
                        text-align: right;

                        @media screen and (max-width: v.$sm-breakpoint) {
                            text-align: left;
                            padding-left: 0.2rem;
                        }

                        p {
                            margin: 0;
                        }

                        li {
                            list-style-type: none;
                            display: inline-flex;
                            justify-content: space-between;

                            a {
                                color: #fff;
                                text-decoration: none;

                                &:hover {
                                    color: v.$color-primary;
                                }
                            }
                        }
                    }
                }
            }

            .links {
                display: flex;
                filter: v.$color-svg;
                justify-content: right;
                align-items: center;

                .phone {
                    margin: 0 2rem;
                }
            }
        }
    }

    .hrDiv {
        hr {
            padding: 0;
            margin: 0;
            height: 0.2rem;
            border: none;
            background-color: v.$color-primary;
        }
    }
}
