@use "variables" as v;

header {
    // margin-bottom: 0.8%;
    .headerView {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(15, 15, 15, 0.5) 51%, rgba(0, 0, 0, 0.8) 100%);
        // background-color: rgba($color: #000000, $alpha: 1);
        padding: 0.5rem 5rem;

        @media screen and (max-width: v.$md-breakpoint) {
            padding: 0 2rem;
        }

        @media screen and (max-width: v.$sm-breakpoint) {
            display: block;
            padding: 0 0.2rem;
        }

        .company {
            color: v.$color-primary;
            display: flex;
            flex-basis: 35%;

            @media screen and (max-width: v.$xl-breakpoint) {
                flex-basis: 45%;
            }

            @media screen and (max-width: v.$lg-breakpoint) {
                flex-basis: 55%;
            }

            .logo {
                img {
                    // min-width: 50px;
                    max-width: 100%;
                }
            }

            // p {
            //     text-align: left;
            //     margin: 0;
            // }
        }

        .rightMenu {
            flex-basis: 45%;

            @media screen and (max-width: v.$sm-breakpoint) {
                display: flex;
                justify-content: space-between;
                padding: 0 0.2rem;
            }

            .authentification {
                display: flex;
                justify-content: right;
                color: #fff;
                font-size: v.$font-size-m;
 
                nav {
                    ul {
                        text-align: right;

                        @media screen and (max-width: v.$sm-breakpoint) {
                            text-align: left;
                            padding-left: 0.2rem;
                        }

                        p {
                            margin: 0;
                        }

                        li {
                            list-style-type: none;
                            display: inline-flex;
                            justify-content: space-between;

                            a {
                                color: #fff;
                                text-decoration: none;

                                &:hover {
                                    color: v.$color-primary;
                                }
                            }
                        }
                    }
                }
            }

            .links {
                display: flex;
                filter: v.$color-svg;
                justify-content: right;
                align-items: center;
                // background-color: rgba(0,0,0,0.8);

                // @include m.icons-shadow;

                // .mail {
                //     width: 40px;
                //     height: 40px;
                //     background: url("../../icons/envelope.svg");
                //     background-repeat: no-repeat;
                // }

                .phone {
                    // width: 35px;
                    // height: 35px;
                    margin: 0 2rem;
                    // background: url("../../icons/phone.svg");
                    // background-repeat: no-repeat;
                    // box-shadow: v.$color-shadow-icons;
                }

                // .facebook {
                // width: 35px;
                // height: 35px;
                // background: url("../../icons/facebook.svg");
                // background-repeat: no-repeat;
                // }
            }
        }
    }

    .hrDiv {
        hr {
            padding: 0;
            margin: 0;
            height: 0.2rem;
            border: none;
            background-color: v.$color-primary;
        }
    }
}
