@use "variables" as v;

// @mixin icons-shadow {
//     box-shadow: 3px 6px 20px $shadow, -2px -4px 25px $shadow;
// }

@mixin box {
    // background-color: v.$color-secondary;
    background-color: #40423f;
    border: 0.4rem solid v.$color-primary;
    border-radius: 2rem;
}

@mixin placeholder {
    max-width: 90%;
    background-color: #828481;
    font-weight: bolder;
    padding: 2% 0;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    resize: none;

    @media screen and (max-width: v.$md-breakpoint) {
        max-width: 100%
    }
}

@mixin btn-submit {
    background-color: v.$color-btn-off-green;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0 3%;
    border: 2px solid #fff;
    border-radius: 0.5rem;
}
