@use "variables" as v;

@mixin box {
    background-color: v.$color-secondary;
    border: 0.4rem solid v.$color-primary;
    border-radius: 2rem;
}

@mixin placeholder {
    max-width: 90%;
    background-color: #828481;
    font-weight: bolder;
    padding: 2% 0;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    resize: none;

    @media screen and (max-width: v.$md-breakpoint) {
        max-width: 100%;
    }
}

@mixin btn-submit {
    background-color: v.$color-btn-off-green;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0 3%;
    border: 2px solid #fff;
    border-radius: 0.8rem;

    &:hover {
        background-color: v.$color-btn-green;
        border: 2px solid #828481;
        cursor: pointer;
    }
}

@mixin btn-submit2 {
    text-align: center;
    background-color: #40423f;
    border: 0.4rem solid v.$color-primary;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #fff;
    padding: 3% 8%;
    margin: 3rem 0;
    cursor: pointer;
    font-size: x-large;

    @media screen and (max-width: v.$sm-breakpoint) {
        font-size: medium;
    }

    &:hover {
        background-color: #315122;
        border: 0.4rem solid #828481;
    }
}

@mixin btn-delete {
    background-color: v.$color-btn-off-green;
    font-weight: bolder;
    font-size: xx-large;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 2.5rem;
    margin: 2rem;
    cursor: pointer;

    &:hover {
        background-color: #790303;
    }
}
