@use "variables" as v;
@use "mixins" as m;

.requests {
    // font-size: v.$font-size-m/1.5;
    font-size: v.$font-size-xs;

    .requestsTable {
        
        h1 {
            text-align: center;
            text-transform: uppercase;
        }

        .listRequests {
            display: flex;
            justify-content: center;
            overflow: auto;
            margin: 0 2rem;

            table {
                // width: 95%;
                display: block;
                overflow-x: auto;
                white-space: nowrap;

                thead {
                    tr {
                        th {
                            background-color: v.$color-table-column;
                            text-transform: uppercase;
                            padding: 1rem;
                        }
                    }
                }

                tbody {

                    tr {
                        &:nth-child(odd) {
                            background-color: v.$color-table-even;
                        }

                        &:nth-child(even) {
                            background-color: v.$color-table-odd;
                        }
                    }

                    td {
                        padding: 2rem 1rem;
                    }
                }
            }

            table,
            th,
            td {
                text-align: center;
                color: #fff;
                text-shadow: 2px 2px 2px #000;
                border: 1px solid #fff;
                border-collapse: collapse;

                a {
                    color: v.$color-btn-green;
                    font-weight: bolder;
                    text-shadow: 2px 2px 2px rgb(224, 253, 6);
                    text-decoration: none;
                    text-transform: uppercase;
                }

                #view {
                    background-color: rgba($color: #000, $alpha: 0.3);
                }
            }
        }
    }
}

.adminLink {
    display: flex;
    justify-content: center;
    
    a {
        @include m.btn-submit2;
        text-decoration: none;
        padding: 3rem 6rem;
    }
}