.resetMail {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        font-size: smaller;
        color: crimson;
    }

    p {
        font-size: x-large;
    }

    a {
        font-size: x-large;
    }
}