$color-background: #000;
$color-primary: #F6AB36;
$color-secondary: #707070;
$color-svg: invert(79%) sepia(43%) saturate(911%) hue-rotate(330deg) brightness(97%) contrast(98%);
// $color-shadow-icons: 3px 6px 20px #2d2d2e, -2px -4px 25px #2d2d2e;