@use "reset";
@use "header";
@use "footer";
@use "contact";
@use "resetMail";
@use "admin";
@use "request";
@use "requestView";
@use "legal";
@use "myAccount";
@use "carousel";
@use "mixins" as m;
@use "variables" as v;

body {
    position: relative;
    // min-height: 100vh;
    // background-color: v.$color-background;
    background: url("../../img/background-carbone.webp");
    // linear-gradient(to top, transparent, 15%, #ff0000)
    background-size: contain;
    background-attachment: fixed;
    // font-size: 2rem;
    // margin: 0 6rem;
    // padding: 0 6rem;

    main {
        height: 100%;
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0.6);
        color: #fff;
        // padding: 0 4rem;

        .view {
            background: url("../../img/Lamborghini.jpg");
            background-size: 90%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            // margin: 2rem 0;
            color: #fff;

            .txtView {
                text-align: center;
                padding: 1.5rem 0rem;
                font-size: 130%;
                // max-height: 90rem;
                // height: 40rem;

                .txtHome {
                    padding: 3rem;
                    margin: 5rem 20rem;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    border-radius: 2rem;
        
                    // &:hover {
                    //     color: v.$color-primary;
                    // }
                }
            }
        }

        .ceo {
            display: flex;
            justify-content: center;
            // background-color: #000;
            margin: 5rem 5rem;

            .txtCeo {
                flex-basis: 80%;
                color: #fff;
            }

            .pictCeo {
                flex-basis: 20%;
                background: no-repeat url("../../img/image.svg");
                background-size: contain;
                background-position: right;
                filter: v.$color-svg;

                img {
                    width: 100px;
                }
            }
        }

        .services {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            color: #fff;
            font-size: 2rem;
            margin: 0;

            .servicesView {
                flex-basis: 25%;
                @include m.box;
                margin: 1rem 0;

                hr {
                    height: 0.3rem;
                    border: none;
                    background-color: v.$color-primary;
                }

                .listServices {
                    margin: 4rem 0;
                }
            }
        }

        .prices {
            @include m.box;
            margin: 10rem;
            padding: 3rem 0;
            font-size: 2.5rem;
            text-align: center;
            text-transform: uppercase;

            * {
                color: #fff;
                text-decoration: none;
            }
        }

        .reviews {
            text-align: center;

            .reviewsView {
                text-align: center;

            }
        }

        .pictures {
            // display: flex;
            .picturesView {
                display: flex;
                text-align: center;
                justify-content: space-evenly;
                margin: 7rem 0;
                
                .before {
                    flex-basis: 45%;

                    .imgBefore {
                        position: relative;
                        
                        img {
                            width: 100%;
                            border-radius: 2rem;
                        }

                        .txtBefore {
                            position: absolute;
                            top: 89%;
                            right: 0;
                            bottom: 0.5%;
                            left: 0;
                            background-color: rgba($color: #000000, $alpha: 0.5);
                            border-radius: 0 0 2rem 2rem;
    
                            p {
                                // margin: 0.5rem;
                                font-size: 2rem;
                            }
                        }
                    }
                }

                .after {
                    flex-basis: 45%;

                    .imgAfter {
                        position: relative;

                        img {
                            width: 100%;
                            border-radius: 2rem;

                            .txtAfter {
                                position: absolute;
                                top: 89%;
                                right: 0;
                                bottom: 0.5%;
                                left: 0;
                                background-color: rgba($color: #000000, $alpha: 0.5);
                                border-radius: 0 0 2rem 2rem;
    
                                p {
                                    // margin: 0.5rem;
                                    font-size: 2rem;
                                }
                            }
                        }  
                    }
                }
            }
        }

        .infosSociety {
            display: flex;
            justify-content: space-evenly;
            @include m.box;
            margin: 0 5rem;
            padding: 5rem;

            .society {
                flex-basis: 45%;
                font-size: 3rem;

                p {
                    text-shadow: 1px 2px 20px #262635, -1px -2px 20px #262635;
                    margin: 1.5rem 0;
                }

                #nameSociety {
                    font-size: 4rem;
                    text-transform: uppercase;
                }
            }

            .map {
                flex-basis: 45%;
                box-shadow: 3px 6px 20px #2d2d2e, -2px -4px 25px #2d2d2e;

                iframe {
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
