@use "reset";
@use "header";
@use "footer";
@use "contact";
@use "resetMail";
@use "admin";
@use "request";
@use "requestView";
@use "legal";
@use "myAccount";
@use "prices";
@use "carousel";
@use "mixins" as m;
@use "variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

html {
    background-color: v.$color-background;
}

body {
    position: relative;
    min-height: 85vh;
    height: 100%;
    font-family: 'Jura', sans-serif;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(15,15,15,0.7) 51%, rgba(0,0,0,0.7) 100%), url("../../img/background-carbone.webp");
    background-size: cover;
    background-attachment: fixed;
    // font-size: 2rem;
    margin: 0 6rem;
    // padding: 0 6rem;

    @media screen and (max-width: v.$xl-breakpoint) {
        margin: 0;
    }

    main {
        height: 100%;
        position: relative;
        // background-color: rgba($color: #000000, $alpha: 0.6);
        color: #fff;
        // padding: 0 4rem;

        .view {
            background: url("../../img/Lamborghini.jpg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            // margin: 0.5rem 0;
            color: #fff;

            .txtView {
                text-align: center;
                padding: 1.5rem 0rem;
                font-size: 130%;
                // box-shadow: 0px 20px 5px rgba($color: #fff, $alpha: 0.1), 0px -20px 5px rgba($color: #fff, $alpha: 0.1);
                text-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
                // max-height: 90rem;
                // height: 40rem;

                .txtHome {
                    padding: 3rem;
                    margin: 4rem 20rem;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    box-shadow: 10px -10px 10px rgba(255, 255, 255, 0.2), -10px 10px 10px rgba(255, 255, 255, 0.2);
                    border-radius: 2rem;
        
                    // &:hover {
                    //     color: v.$color-primary;
                    // }
                }
            }
        }

        .ceo {
            display: flex;
            justify-content: center;
            margin: 10%;

            .txtCeo {
                flex-basis: 80%;
                color: #fff;
            }

            .pictCeo {
                flex-basis: 20%;
                background: no-repeat url("../../img/image.svg");
                background-size: contain;
                background-position: right;
                filter: v.$color-svg;

                img {
                    width: 100px;
                }
            }
        }

        .reviews {
            text-align: center;
            padding: 2% 5%;
            margin: 5% 10%;
            border-radius: 5rem;
            font-size: v.$font-size-l;
            background-color: v.$color-background-label;

            .reviewsView {
                text-align: center;
            }
        }

        .services {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            color: #fff;
            font-size: 2rem;
            margin: 0;

            .servicesView {
                flex-basis: 25%;
                @include m.box;
                margin: 1rem 0;
                text-shadow: v.$color-text-shadow-box;

                h3 {
                    text-transform: uppercase;   
                }

                hr {
                    height: 0.3rem;
                    border: none;
                    background-color: v.$color-primary;
                }

                .listServices {
                    margin: 4rem 0;
                }
            }
        }

        .prices {
            text-decoration: none;
            text-shadow: v.$color-text-shadow-box;
            color: #fff;

            .price {
                @include m.box;
                margin: 10rem;
                padding: 3rem 0;
                font-size: 2.5rem;
                text-align: center;
                text-transform: uppercase;
                
            }
        }

        .pictures {
            margin: 0 7% 7% 5%;
            
            .picturesView {
                display: flex;
                text-align: center;
                justify-content: space-evenly;
                
                .before {
                    flex-basis: 45%;

                    .imgBefore {
                        position: relative;
                        
                        img {
                            max-width: 100%;
                            max-height: 50rem;
                            border-radius: 2rem;
                        }

                        .txtBefore {
                            position: absolute;
                            top: 90%;
                            right: 0;
                            bottom: 0.5%;
                            left: 0;
                            text-shadow: v.$color-text-shadow;
                            // background-color: rgba($color: #000000, $alpha: 0.5);
                            border-radius: 0 0 2rem 2rem;
    
                            p {
                                // margin: 0.5rem;
                                font-size: 2rem;
                            }
                        }
                    }
                }

                .after {
                    flex-basis: 45%;

                    .imgAfter {
                        position: relative;

                        img {
                            max-width: 100%;
                            max-height: 50rem;
                            border-radius: 2rem;

                        }  

                        .txtAfter {
                            position: absolute;
                            top: 90%;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            text-shadow: v.$color-text-shadow;
                            // color: v.$color-primary;
                            // background-color: rgba($color: #000000, $alpha: 0.5);
                            border-radius: 0 0 2rem 2rem;

                            p {
                                // margin: 0.5rem;
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }

        .infosSociety {
            display: flex;
            justify-content: space-evenly;
            @include m.box;
            margin: 0 5rem;
            padding: 5rem;

            .society {
                flex-basis: 45%;
                font-size: 3rem;

                p {
                    text-shadow: v.$color-text-shadow-box;
                    // text-shadow: 1px 2px 20px #262635, -1px -2px 20px #262635;
                    margin: 1.5rem 0;
                }

                #nameSociety {
                    font-size: 4rem;
                    text-transform: uppercase;
                }
            }

            .map {
                flex-basis: 45%;
                box-shadow: 3px 6px 20px #2d2d2e, -2px -4px 25px #2d2d2e;

                iframe {
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
