@use "variables" as v;
@use "mixins" as m;

.pricesPage {
    margin: 4rem;

    .categoriesPrices {
        display: flex;
        table-layout: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 8%;
        // font-size: v.$font-size-l;
        font-weight: bolder;

        @media screen and (max-width: v.$xl-breakpoint) {
            margin-bottom: 10%;
        }

        @media screen and (max-width: v.$lg-breakpoint) {
            font-size: 80%;
            margin-bottom: 15%;
        }

        @media screen and (max-width: v.$md-breakpoint) {
            font-size: 65%;
            margin-bottom: 15%;
        }

        @media screen and (max-width: v.$md-breakpoint) {
            font-size: 50%;
            margin-bottom: 15%;
        }

        .standardPrices,
        .optionsPrices {
            border-collapse: collapse;
            text-align: center;
            align-items: center;
            background-color: v.$color-secondary;

            thead,
            tbody {
                tr {
                    th,
                    td {
                        text-transform: uppercase;
                        border: 2px solid v.$color-primary;
                        padding: 2.5rem;

                        @media screen and (max-width: v.$xl-breakpoint) {
                            padding: 2rem;
                        }

                        @media screen and (max-width: v.$lg-breakpoint) {
                            padding: 1.5rem;
                        }

                        @media screen and (max-width: v.$md-breakpoint) {
                            padding: 1rem;
                        }

                        @media screen and (max-width: v.$sm-breakpoint) {
                            padding: 0.3rem;
                        }

                        a {
                            color: #fff;
                        }
                    }

                    th {
                        background-color: v.$color-background-label;
                    }
                }
            }
        }

        .optionsPrices {
            tr {
                &:nth-child(odd) {
                    background-color: v.$color-background-label;
                }

                &:nth-child(even) {
                    background-color: v.$color-secondary;
                }
            }
        }
    }
}
