* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem 5rem;
}
header .company {
  color: #f6ab36;
  display: flex;
  flex-basis: 30%;
}
header .company .logo img {
  max-width: 100%;
}
header .rightMenu {
  flex-basis: 30%;
}
header .rightMenu .authentification {
  display: flex;
  justify-content: right;
  color: #fff;
}
header .rightMenu .authentification ul {
  text-align: right;
}
header .rightMenu .authentification ul p {
  margin: 0;
}
header .rightMenu .authentification ul li {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}
header .rightMenu .authentification ul li a {
  color: #fff;
  text-decoration: none;
}
header .rightMenu .links {
  display: flex;
  filter: invert(79%) sepia(43%) saturate(911%) hue-rotate(330deg) brightness(97%) contrast(98%);
  justify-content: right;
}
header .rightMenu .links .mail {
  width: 45px;
  height: 45px;
  background: url("../../icons/envelope.svg");
  background-repeat: no-repeat;
}
header .rightMenu .links .phone {
  width: 40px;
  height: 40px;
  margin: 0 2rem;
  background: url("../../icons/phone.svg");
  background-repeat: no-repeat;
}
header .rightMenu .links .facebook {
  width: 40px;
  height: 40px;
  background: url("../../icons/facebook.svg");
  background-repeat: no-repeat;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
footer .footerView {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0;
  margin: 0 20%;
}
footer .footerView div, footer .footerView div > a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}
footer .footerView .copyright {
  display: flex;
}

.contact h1 {
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 5rem 0;
}
.contact #errorLogin {
  text-align: center;
}
.contact .form {
  display: flex;
  justify-content: center;
}
.contact .form form {
  width: 70%;
}
.contact .form .container {
  text-align: center;
}
.contact .form .container .form-group {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.contact .form .container .form-group label {
  text-transform: uppercase;
  margin: 0.3rem 0;
  color: #f6ab36;
}
.contact .form .container .form-group input,
.contact .form .container .form-group select,
.contact .form .container .form-group textarea {
  background-color: black;
  color: #f6ab36;
  border-radius: 0.4rem;
  padding: 1rem;
  border: 0.2rem solid #b0aeae;
}
.contact .form .container .form-group .form-item-group {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact .form .container .form-group .form-item-group .errorsTxt {
  color: #f10e0e;
}
.contact .form .container .form-group .form-item-group .form-photo {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #f6ab36;
  border-radius: 0.4rem;
  border: 0.2rem solid #b0aeae;
}
.contact .form .container .form-group .form-item-group .form-photo * {
  cursor: pointer;
}
.contact .form .container .form-group .form-item-group .form-photo *:active {
  color: #707070;
  background-color: #000;
}
.contact .form .container .form-group .form-item-group .form-photo #test {
  color: #fff;
}
.contact .form .container input[type=submit] {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 2rem 8rem;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
}
.contact .form .container input[type=submit]:hover {
  background-color: #637b54;
}

#resetPwd {
  padding: 0.7rem;
  margin: 0;
}
#resetPwd a {
  color: #fff;
  text-transform: uppercase;
}

.resetMail {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.resetMail h1 {
  font-size: smaller;
  color: crimson;
}
.resetMail p {
  font-size: x-large;
}
.resetMail a {
  font-size: x-large;
}

.backoffice .administration .servicesAdmin h2 {
  text-align: center;
  text-transform: uppercase;
}
.backoffice .administration .servicesAdmin .addServices {
  background-color: #000;
  border: 1px solid #fff;
  padding: 2% 0;
}
.backoffice .administration .servicesAdmin .addServices form {
  width: 100%;
}
.backoffice .administration .servicesAdmin .addServices form .form-admin-group {
  display: flex;
  padding: 2% 5%;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .servicesAdmin .addServices form .form-admin-group {
    display: block;
    padding: 1% 4%;
  }
}
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item input,
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item select,
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item textarea {
  display: flex;
  max-width: 90%;
  background-color: #828481;
  font-weight: bolder;
  padding: 2% 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item input,
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item select,
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item textarea {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item input,
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item select,
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .form-admin-item textarea {
    margin-bottom: 2rem;
  }
}
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .btn-submit {
  background-color: #aad992;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 3%;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .servicesAdmin .addServices form .form-admin-group .btn-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
  }
}
.backoffice .administration .servicesAdmin .addServices form .form-admin-group .btn-submit:hover {
  background-color: #276d10;
}
.backoffice .administration .reviewsAdmin h2 {
  text-align: center;
  text-transform: uppercase;
}
.backoffice .administration .reviewsAdmin .viewReviews .carousel {
  display: flex;
  margin: 1% 10%;
}
.backoffice .administration .reviewsAdmin .viewReviews .carousel .reviewAdmin {
  display: flex;
  width: 100%;
}
.backoffice .administration .reviewsAdmin .addReviews {
  background-color: #000;
  border: 1px solid #fff;
  padding: 2% 0;
}
.backoffice .administration .reviewsAdmin .addReviews form {
  width: 100%;
}
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group {
  display: flex;
  padding: 2% 5%;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .addReviews form .form-admin-group {
    display: block;
    padding: 1% 4%;
  }
}
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item label {
    padding: 0 0 0.6rem 0;
  }
}
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item input,
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item textarea {
  max-width: 90%;
  background-color: #828481;
  font-weight: bolder;
  padding: 2% 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  resize: none;
  display: flex;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item input,
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item textarea {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item input,
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .form-admin-item textarea {
    margin-bottom: 2rem;
  }
}
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .btn-submit {
  background-color: #aad992;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 3%;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .btn-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
  }
}
.backoffice .administration .reviewsAdmin .addReviews form .form-admin-group .btn-submit:hover {
  background-color: #276d10;
}
.backoffice .administration .photoVehicules .pictures .picture {
  background-color: #c91f1f;
  border: 3px solid #fff;
}

.addWorks {
  background-color: #000;
  border: 1px solid #fff;
  padding: 2% 0;
}
.addWorks form {
  width: 100%;
}
.addWorks form .form-admin-group {
  display: flex;
  padding: 2% 5%;
}
@media screen and (max-width: 768px) {
  .addWorks form .form-admin-group {
    display: block;
    padding: 1% 4%;
  }
}
.addWorks form .form-admin-group .form-admin-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.addWorks form .form-admin-group .form-admin-item input {
  display: flex;
  max-width: 90%;
  background-color: #828481;
  font-weight: bolder;
  padding: 2% 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .addWorks form .form-admin-group .form-admin-item input {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .addWorks form .form-admin-group .form-admin-item input {
    margin-bottom: 2rem;
  }
}
.addWorks form .form-admin-group .form-admin-item input[type=file] {
  cursor: pointer;
  padding-left: 5.5rem;
}
.addWorks form .form-admin-group .form-admin-item input[type=file]:active {
  color: #c91f1f;
  background-color: #000;
}
.addWorks form .btn-submit {
  background-color: #aad992;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 3%;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .addWorks form .btn-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
  }
}
.addWorks form .btn-submit:hover {
  background-color: #276d10;
}

.btn-delete {
  display: flex;
  font-weight: bolder;
  font-size: xx-large;
  justify-content: right;
  background-color: #276d10;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn-delete:hover {
  background-color: #c91f1f;
}

.requests h1 {
  text-align: center;
  text-transform: uppercase;
}
.requests .listRequests table {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .requests .listRequests table {
    display: flex;
  }
}
.requests .listRequests table thead tr th {
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding: 1.5rem 0;
}
@media screen and (max-width: 992px) {
  .requests .listRequests table thead tr th {
    display: flex;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 992px) {
  .requests .listRequests table tbody {
    display: flex;
    width: 100%;
  }
}
.requests .listRequests table tbody tr:nth-child(odd) {
  background-color: rgba(160, 100, 2, 0.6);
}
.requests .listRequests table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 992px) {
  .requests .listRequests table tbody tr {
    width: 100%;
  }
}
.requests .listRequests table tbody td {
  padding: 1rem 0;
}
@media screen and (max-width: 992px) {
  .requests .listRequests table tbody td {
    display: flex;
  }
}
.requests .listRequests table,
.requests .listRequests th,
.requests .listRequests td {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  border: 1px solid #fff;
  border-collapse: collapse;
}
.requests .listRequests table a,
.requests .listRequests th a,
.requests .listRequests td a {
  color: #276d10;
  text-shadow: 2px 2px 2px #000;
  text-transform: uppercase;
}

.quote h1 {
  text-transform: uppercase;
  text-align: center;
}
.quote .viewQuote {
  display: flex;
}
.quote .viewQuote .contact {
  display: flex;
  flex-basis: 30%;
  border: 2px solid #fff;
  padding: 3rem;
}
.quote .viewQuote .contact .rows .row {
  padding: 0.3rem 0;
}
.quote .viewQuote .contact .rows .row span {
  text-transform: uppercase;
}
.quote .viewQuote .contact .rows .delete {
  display: flex;
  width: 100%;
  justify-content: right;
}
.quote .viewQuote .message {
  flex-basis: 70%;
}
.quote .viewQuote .message h2 {
  text-align: center;
  border: 2px solid #fff;
  margin: 0 1rem;
}
.quote .viewQuote .message .viewMessage {
  border: 2px solid #fff;
  margin: 1rem;
  padding: 2%;
}
.quote .photos {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.quote .photos .photo {
  flex-basis: 30%;
}
.quote .photos .photo img {
  width: 100%;
}
.quote .photos .photo .download {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}
.quote .photos .photo .download a {
  text-decoration: none;
}
.quote .photos .photo .download a p {
  text-transform: uppercase;
  color: #fff;
}

.back {
  display: flex;
  justify-content: right;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.back a {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  padding: 2rem;
}

.legalRules {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: x-large;
}

.myAccount {
  display: flex;
  justify-content: center;
}
.myAccount .account {
  text-align: center;
  width: 60%;
}
.myAccount .account .viewAccount {
  display: flex;
  margin: 5rem 0;
}
.myAccount .account .viewAccount .items-account {
  flex-basis: 50%;
}
.myAccount .account .viewAccount .items-account .item-view {
  margin: 1.5rem;
}
.myAccount .account .viewAccount .items-account-address {
  flex-basis: 50%;
}
.myAccount .account .viewAccount .items-account-address h3 {
  margin: 2rem 0 1rem 0;
}
.myAccount .account .viewAccount .items-account-address .address-account .address {
  display: flex;
  justify-content: center;
}
.myAccount .account .viewAccount .items-account-address .address-account .address label,
.myAccount .account .viewAccount .items-account-address .address-account .address input,
.myAccount .account .viewAccount .items-account-address .address-account .address select {
  display: flex;
  width: 100%;
}
.myAccount .account .viewAccount .items-account-address .address-account .address label {
  margin: 1.8rem 0;
}

/*
* Carroussel Review
*/
#carousel {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}
#carousel span {
  color: #fff;
}

.precedent,
.suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.precedent:hover,
.suivant:hover {
  opacity: 1;
}

.precedent {
  left: 0;
}

.suivant {
  right: 0;
}

.carousel {
  display: flex;
  font-size: medium;
}

body {
  position: relative;
  background: url("../../img/background-carbone.webp");
  background-size: contain;
  background-attachment: fixed;
}
body main {
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
body main .view {
  background: url("../../img/Lamborghini.jpg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
body main .view .txtView {
  text-align: center;
  padding: 1.5rem 0rem;
  font-size: 130%;
}
body main .view .txtView .txtHome {
  padding: 3rem;
  margin: 5rem 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}
body main .ceo {
  display: flex;
  justify-content: center;
  margin: 5rem 5rem;
}
body main .ceo .txtCeo {
  flex-basis: 80%;
  color: #fff;
}
body main .ceo .pictCeo {
  flex-basis: 20%;
  background: no-repeat url("../../img/image.svg");
  background-size: contain;
  background-position: right;
  filter: invert(79%) sepia(43%) saturate(911%) hue-rotate(330deg) brightness(97%) contrast(98%);
}
body main .ceo .pictCeo img {
  width: 100px;
}
body main .services {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: 0;
}
body main .services .servicesView {
  flex-basis: 25%;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  margin: 1rem 0;
}
body main .services .servicesView hr {
  height: 0.3rem;
  border: none;
  background-color: #f6ab36;
}
body main .services .servicesView .listServices {
  margin: 4rem 0;
}
body main .prices {
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  margin: 10rem;
  padding: 3rem 0;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
body main .prices * {
  color: #fff;
  text-decoration: none;
}
body main .reviews {
  text-align: center;
}
body main .reviews .reviewsView {
  text-align: center;
}
body main .pictures .picturesView {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 7rem 0;
}
body main .pictures .picturesView .before {
  flex-basis: 45%;
}
body main .pictures .picturesView .before .imgBefore {
  position: relative;
}
body main .pictures .picturesView .before .imgBefore img {
  width: 100%;
  border-radius: 2rem;
}
body main .pictures .picturesView .before .imgBefore .txtBefore {
  position: absolute;
  top: 89%;
  right: 0;
  bottom: 0.5%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2rem 2rem;
}
body main .pictures .picturesView .before .imgBefore .txtBefore p {
  font-size: 2rem;
}
body main .pictures .picturesView .after {
  flex-basis: 45%;
}
body main .pictures .picturesView .after .imgAfter {
  position: relative;
}
body main .pictures .picturesView .after .imgAfter img {
  width: 100%;
  border-radius: 2rem;
}
body main .pictures .picturesView .after .imgAfter img .txtAfter {
  position: absolute;
  top: 89%;
  right: 0;
  bottom: 0.5%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2rem 2rem;
}
body main .pictures .picturesView .after .imgAfter img .txtAfter p {
  font-size: 2rem;
}
body main .infosSociety {
  display: flex;
  justify-content: space-evenly;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  margin: 0 5rem;
  padding: 5rem;
}
body main .infosSociety .society {
  flex-basis: 45%;
  font-size: 3rem;
}
body main .infosSociety .society p {
  text-shadow: 1px 2px 20px #262635, -1px -2px 20px #262635;
  margin: 1.5rem 0;
}
body main .infosSociety .society #nameSociety {
  font-size: 4rem;
  text-transform: uppercase;
}
body main .infosSociety .map {
  flex-basis: 45%;
  box-shadow: 3px 6px 20px #2d2d2e, -2px -4px 25px #2d2d2e;
}
body main .infosSociety .map iframe {
  display: flex;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
