@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

header .headerView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(15, 15, 15, 0.5) 51%, rgba(0, 0, 0, 0.8) 100%);
  padding: 0.5rem 5rem;
}
@media screen and (max-width: 992px) {
  header .headerView {
    font-size: 85%;
  }
}
@media screen and (max-width: 768px) {
  header .headerView {
    padding: 0 2rem 0 0;
    font-size: 70%;
  }
}
@media screen and (max-width: 576px) {
  header .headerView {
    display: block;
    padding: 0 0.2rem;
    font-size: 65%;
  }
}
header .headerView .company {
  color: #f6ab36;
  display: flex;
  flex-basis: 35%;
}
@media screen and (max-width: 1200px) {
  header .headerView .company {
    flex-basis: 45%;
  }
}
@media screen and (max-width: 992px) {
  header .headerView .company {
    flex-basis: 55%;
  }
}
@media screen and (max-width: 576px) {
  header .headerView .company .logo {
    margin: 0 2rem;
  }
}
header .headerView .company .logo img {
  max-width: 100%;
}
header .headerView .rightMenu {
  flex-basis: 45%;
}
@media screen and (max-width: 576px) {
  header .headerView .rightMenu {
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem;
  }
}
header .headerView .rightMenu .authentification {
  display: flex;
  justify-content: right;
  color: #fff;
  font-size: 125%;
}
header .headerView .rightMenu .authentification nav ul {
  text-align: right;
}
@media screen and (max-width: 576px) {
  header .headerView .rightMenu .authentification nav ul {
    text-align: left;
    padding-left: 0.2rem;
  }
}
header .headerView .rightMenu .authentification nav ul p {
  margin: 0;
}
header .headerView .rightMenu .authentification nav ul li {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}
header .headerView .rightMenu .authentification nav ul li a {
  color: #fff;
  text-decoration: none;
}
header .headerView .rightMenu .authentification nav ul li a:hover {
  color: #f6ab36;
}
header .headerView .rightMenu .links {
  display: flex;
  filter: invert(79%) sepia(43%) saturate(911%) hue-rotate(330deg) brightness(97%) contrast(98%);
  justify-content: right;
  align-items: center;
}
header .headerView .rightMenu .links .phone {
  margin: 0 2rem;
}
header .hrDiv hr {
  padding: 0;
  margin: 0;
  height: 0.2rem;
  border: none;
  background-color: #f6ab36;
}

footer .footerView {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0;
  margin: 0 15%;
}
@media screen and (max-width: 1200px) {
  footer .footerView {
    margin: 0 10%;
  }
}
@media screen and (max-width: 576px) {
  footer .footerView {
    margin: 0;
    padding: 1rem 0;
  }
}
footer .footerView div, footer .footerView div > a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 2.7rem;
}
@media screen and (max-width: 1200px) {
  footer .footerView div, footer .footerView div > a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footerView div, footer .footerView div > a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  footer .footerView div, footer .footerView div > a {
    font-size: 1.2rem;
  }
}
footer .footerView .copyright {
  display: flex;
}

.contact h1 {
  font-size: 150%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 5rem 0;
}
.contact h2 {
  margin: 0 0 2rem 0;
  text-align: center;
}
.contact #errorLogin {
  text-align: center;
}
.contact .form {
  display: flex;
  justify-content: center;
}
.contact .form form {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .contact .form form {
    width: 90%;
  }
}
.contact .form .container {
  justify-content: center;
  text-align: center;
}
.contact .form .container .form-group {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .contact .form .container .form-group {
    display: block;
  }
}
.contact .form .container .form-group-account {
  display: flex;
  justify-content: center;
}
.contact .form .container .form-group,
.contact .form .container .form-group-account {
  padding: 1rem 0;
}
.contact .form .container .form-group label,
.contact .form .container .form-group-account label {
  text-transform: uppercase;
  margin: 0.3rem 0;
  color: #f6ab36;
}
.contact .form .container .form-group input,
.contact .form .container .form-group select,
.contact .form .container .form-group textarea,
.contact .form .container .form-group-account input,
.contact .form .container .form-group-account select,
.contact .form .container .form-group-account textarea {
  background-color: #000;
  color: #f6ab36;
  font-size: 65%;
  border-radius: 0.4rem;
  padding: 1rem;
  border: 0.2rem solid #b0aeae;
}
.contact .form .container .form-group input:-webkit-autofill,
.contact .form .container .form-group input:-webkit-autofill:hover,
.contact .form .container .form-group input:-webkit-autofill:focus,
.contact .form .container .form-group textarea:-webkit-autofill,
.contact .form .container .form-group textarea:-webkit-autofill:hover,
.contact .form .container .form-group textarea:-webkit-autofill:focus,
.contact .form .container .form-group select:-webkit-autofill,
.contact .form .container .form-group select:-webkit-autofill:hover,
.contact .form .container .form-group select:-webkit-autofill:focus,
.contact .form .container .form-group-account input:-webkit-autofill,
.contact .form .container .form-group-account input:-webkit-autofill:hover,
.contact .form .container .form-group-account input:-webkit-autofill:focus,
.contact .form .container .form-group-account textarea:-webkit-autofill,
.contact .form .container .form-group-account textarea:-webkit-autofill:hover,
.contact .form .container .form-group-account textarea:-webkit-autofill:focus,
.contact .form .container .form-group-account select:-webkit-autofill,
.contact .form .container .form-group-account select:-webkit-autofill:hover,
.contact .form .container .form-group-account select:-webkit-autofill:focus {
  -webkit-text-fill-color: #f6ab36;
  -webkit-box-shadow: 0 0 0px #000 inset;
  box-shadow: 0 0 0px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.contact .form .container .form-group .form-item-group,
.contact .form .container .form-group-account .form-item-group {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact .form .container .form-group .form-item-group .errorsTxt,
.contact .form .container .form-group-account .form-item-group .errorsTxt {
  color: #f10e0e;
}
.contact .form .container .form-group .form-item-group .form-photo,
.contact .form .container .form-group-account .form-item-group .form-photo {
  display: flex;
  justify-content: space-around;
  font-size: 65%;
  background-color: #000;
  color: #f6ab36;
  border-radius: 0.4rem;
  padding: 0.6rem;
  border: 0.2rem solid #b0aeae;
}
.contact .form .container .form-group .form-item-group .form-photo *,
.contact .form .container .form-group-account .form-item-group .form-photo * {
  cursor: pointer;
}
.contact .form .container .form-group .form-item-group .form-photo *:active,
.contact .form .container .form-group-account .form-item-group .form-photo *:active {
  color: #276d10;
}
.contact .form .container .form-group .form-item-group .warningFiles,
.contact .form .container .form-group-account .form-item-group .warningFiles {
  display: flex;
  margin: 0;
  justify-content: space-around;
}
.contact .form .container .form-group .form-item-group .warningFiles p,
.contact .form .container .form-group-account .form-item-group .warningFiles p {
  margin: 0.2rem 0;
  text-align: left;
  font-size: 65%;
}
.contact .form .container .form-group .form-item-area,
.contact .form .container .form-group-account .form-item-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.contact .form .container input[type=submit] {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
}
@media screen and (max-width: 576px) {
  .contact .form .container input[type=submit] {
    font-size: medium;
  }
}
.contact .form .container input[type=submit]:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}

#resetPwd {
  padding: 0.7rem;
  margin: 0;
}
#resetPwd a {
  color: #fff;
  text-transform: uppercase;
}
#resetPwd a:hover {
  color: #f6ab36;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn a {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .btn a {
    font-size: medium;
  }
}
.btn a:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}

.resetMail {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.resetMail h1 {
  font-size: smaller;
}
.resetMail p {
  font-size: x-large;
}
.resetMail a {
  font-size: x-large;
}

.backoffice .navAdmin {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-around;
}
.backoffice .navAdmin a {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
}
@media screen and (max-width: 576px) {
  .backoffice .navAdmin a {
    font-size: medium;
  }
}
.backoffice .navAdmin a:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}
.backoffice .addServices,
.backoffice .modifyServices,
.backoffice .addReviews,
.backoffice .deleteServices {
  background-color: #000;
  border: 1px solid #fff;
}
.backoffice .addServices form,
.backoffice .modifyServices form,
.backoffice .addReviews form,
.backoffice .deleteServices form {
  width: 100%;
}
.backoffice .addServices form .form-admin-group,
.backoffice .modifyServices form .form-admin-group,
.backoffice .addReviews form .form-admin-group,
.backoffice .deleteServices form .form-admin-group {
  display: flex;
  padding: 1% 5%;
}
@media screen and (max-width: 768px) {
  .backoffice .addServices form .form-admin-group,
.backoffice .modifyServices form .form-admin-group,
.backoffice .addReviews form .form-admin-group,
.backoffice .deleteServices form .form-admin-group {
    display: block;
    padding: 1% 4%;
  }
}
.backoffice .addServices form .form-admin-group .form-admin-item,
.backoffice .modifyServices form .form-admin-group .form-admin-item,
.backoffice .addReviews form .form-admin-group .form-admin-item,
.backoffice .deleteServices form .form-admin-group .form-admin-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.backoffice .addServices form .form-admin-group .form-admin-item #idService,
.backoffice .modifyServices form .form-admin-group .form-admin-item #idService,
.backoffice .addReviews form .form-admin-group .form-admin-item #idService,
.backoffice .deleteServices form .form-admin-group .form-admin-item #idService {
  max-width: 30%;
}
.backoffice .addServices form .form-admin-group .form-admin-item input,
.backoffice .addServices form .form-admin-group .form-admin-item select,
.backoffice .addServices form .form-admin-group .form-admin-item textarea,
.backoffice .modifyServices form .form-admin-group .form-admin-item input,
.backoffice .modifyServices form .form-admin-group .form-admin-item select,
.backoffice .modifyServices form .form-admin-group .form-admin-item textarea,
.backoffice .addReviews form .form-admin-group .form-admin-item input,
.backoffice .addReviews form .form-admin-group .form-admin-item select,
.backoffice .addReviews form .form-admin-group .form-admin-item textarea,
.backoffice .deleteServices form .form-admin-group .form-admin-item input,
.backoffice .deleteServices form .form-admin-group .form-admin-item select,
.backoffice .deleteServices form .form-admin-group .form-admin-item textarea {
  display: flex;
  max-width: 90%;
  background-color: #828481;
  font-weight: bolder;
  padding: 2% 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  resize: none;
  padding: 2%;
}
@media screen and (max-width: 768px) {
  .backoffice .addServices form .form-admin-group .form-admin-item input,
.backoffice .addServices form .form-admin-group .form-admin-item select,
.backoffice .addServices form .form-admin-group .form-admin-item textarea,
.backoffice .modifyServices form .form-admin-group .form-admin-item input,
.backoffice .modifyServices form .form-admin-group .form-admin-item select,
.backoffice .modifyServices form .form-admin-group .form-admin-item textarea,
.backoffice .addReviews form .form-admin-group .form-admin-item input,
.backoffice .addReviews form .form-admin-group .form-admin-item select,
.backoffice .addReviews form .form-admin-group .form-admin-item textarea,
.backoffice .deleteServices form .form-admin-group .form-admin-item input,
.backoffice .deleteServices form .form-admin-group .form-admin-item select,
.backoffice .deleteServices form .form-admin-group .form-admin-item textarea {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .backoffice .addServices form .form-admin-group .form-admin-item input,
.backoffice .addServices form .form-admin-group .form-admin-item select,
.backoffice .addServices form .form-admin-group .form-admin-item textarea,
.backoffice .modifyServices form .form-admin-group .form-admin-item input,
.backoffice .modifyServices form .form-admin-group .form-admin-item select,
.backoffice .modifyServices form .form-admin-group .form-admin-item textarea,
.backoffice .addReviews form .form-admin-group .form-admin-item input,
.backoffice .addReviews form .form-admin-group .form-admin-item select,
.backoffice .addReviews form .form-admin-group .form-admin-item textarea,
.backoffice .deleteServices form .form-admin-group .form-admin-item input,
.backoffice .deleteServices form .form-admin-group .form-admin-item select,
.backoffice .deleteServices form .form-admin-group .form-admin-item textarea {
    margin-bottom: 2rem;
  }
}
.backoffice .addServices form .form-admin-group .btn-submit,
.backoffice .modifyServices form .form-admin-group .btn-submit,
.backoffice .addReviews form .form-admin-group .btn-submit,
.backoffice .deleteServices form .form-admin-group .btn-submit {
  background-color: #315122;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 3%;
  border: 2px solid #fff;
  border-radius: 0.8rem;
}
.backoffice .addServices form .form-admin-group .btn-submit:hover,
.backoffice .modifyServices form .form-admin-group .btn-submit:hover,
.backoffice .addReviews form .form-admin-group .btn-submit:hover,
.backoffice .deleteServices form .form-admin-group .btn-submit:hover {
  background-color: #276d10;
  border: 2px solid #828481;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .backoffice .addServices form .form-admin-group .btn-submit,
.backoffice .modifyServices form .form-admin-group .btn-submit,
.backoffice .addReviews form .form-admin-group .btn-submit,
.backoffice .deleteServices form .form-admin-group .btn-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
  }
}
.backoffice .administration .servicesAdmin h2 {
  text-align: center;
  text-transform: uppercase;
}
.backoffice .administration .reviewsAdmin h2 {
  text-align: center;
  text-transform: uppercase;
}
.backoffice .administration .reviewsAdmin .reviewsContainer .reviewsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1% 5%;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .reviewsContainer .reviewsGrid {
    display: block;
  }
}
.backoffice .administration .reviewsAdmin .reviewsContainer .reviewsGrid .reviewSelect {
  display: flex;
  flex-basis: 49%;
  justify-content: left;
  align-items: center;
  border: 1px solid #fff;
}
.backoffice .administration .reviewsAdmin .reviewsContainer .reviewsGrid .reviewSelect .deleteReview form .btn-delete {
  display: flex;
  justify-content: right;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .backoffice .administration .reviewsAdmin .reviewsContainer .reviewsGrid .reviewSelect .deleteReview form .btn-delete {
    margin: 1rem;
    padding: 1rem;
  }
}
.backoffice .administration .reviewsAdmin .reviewsContainer .reviewsGrid .reviewSelect .reviewClient {
  font-size: 80%;
}

.deleteWork {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.deleteWork form {
  display: flex;
  align-items: bottom;
}
.deleteWork form .btn-delete {
  display: flex;
  align-items: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .deleteWork form .btn-delete {
    padding: 1rem;
  }
}

.addWorks {
  background-color: #000;
  border: 1px solid #fff;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addWorks form {
  text-align: center;
}
.addWorks form .form-group .form-admin-group {
  display: flex;
  padding: 2% 5%;
}
@media screen and (max-width: 768px) {
  .addWorks form .form-group .form-admin-group {
    display: block;
    padding: 1% 4%;
  }
}
.addWorks form .form-group .form-admin-group .form-admin-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.addWorks form .form-group .form-admin-group .form-admin-item input {
  display: flex;
  max-width: 90%;
  background-color: #828481;
  font-weight: bolder;
  padding: 2% 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .addWorks form .form-group .form-admin-group .form-admin-item input {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .addWorks form .form-group .form-admin-group .form-admin-item input {
    margin-bottom: 2rem;
  }
}
.addWorks form .form-group .form-admin-group .form-admin-item input[type=file] {
  cursor: pointer;
  padding-left: 5.5rem;
}
.addWorks form .form-group .form-admin-group .form-admin-item input[type=file]:active {
  color: #000;
  background-color: #f6ab36;
}
.addWorks form .btn-submit {
  background-color: #315122;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 3%;
  border: 2px solid #fff;
  border-radius: 0.8rem;
  padding: 2rem 3rem;
}
.addWorks form .btn-submit:hover {
  background-color: #276d10;
  border: 2px solid #828481;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .addWorks form .btn-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
  }
}

.btn-delete {
  background-color: #315122;
  font-weight: bolder;
  font-size: xx-large;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 2.5rem;
  margin: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: right;
}
.btn-delete:hover {
  background-color: #790303;
}

.requests {
  font-size: 65%;
}
.requests .requestsTable h1 {
  text-align: center;
  text-transform: uppercase;
}
.requests .requestsTable .listRequests {
  display: flex;
  justify-content: center;
  overflow: auto;
  margin: 0 2rem;
}
.requests .requestsTable .listRequests table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.requests .requestsTable .listRequests table thead tr th {
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding: 1rem;
}
.requests .requestsTable .listRequests table tbody tr:nth-child(odd) {
  background-color: rgba(160, 100, 2, 0.6);
}
.requests .requestsTable .listRequests table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.7);
}
.requests .requestsTable .listRequests table tbody td {
  padding: 2rem 1rem;
}
.requests .requestsTable .listRequests table,
.requests .requestsTable .listRequests th,
.requests .requestsTable .listRequests td {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  border: 1px solid #fff;
  border-collapse: collapse;
}
.requests .requestsTable .listRequests table a,
.requests .requestsTable .listRequests th a,
.requests .requestsTable .listRequests td a {
  color: #276d10;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #e0fd06;
  text-decoration: none;
  text-transform: uppercase;
}
.requests .requestsTable .listRequests table #view,
.requests .requestsTable .listRequests th #view,
.requests .requestsTable .listRequests td #view {
  background-color: rgba(0, 0, 0, 0.3);
}

.adminLink {
  display: flex;
  justify-content: center;
}
.adminLink a {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
  text-decoration: none;
  padding: 3rem 6rem;
}
@media screen and (max-width: 576px) {
  .adminLink a {
    font-size: medium;
  }
}
.adminLink a:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}

.quote h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0%;
  padding: 2% 0;
}
.quote .viewQuote {
  display: flex;
}
@media screen and (max-width: 768px) {
  .quote .viewQuote {
    display: block;
  }
}
.quote .viewQuote .contact {
  display: flex;
  flex-basis: 30%;
  border: 2px solid #fff;
  padding: 3rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 90%;
}
@media screen and (max-width: 1200px) {
  .quote .viewQuote .contact {
    font-size: 80%;
  }
}
@media screen and (max-width: 992px) {
  .quote .viewQuote .contact {
    font-size: 65%;
  }
}
@media screen and (max-width: 768px) {
  .quote .viewQuote .contact {
    font-size: 90%;
  }
}
.quote .viewQuote .contact .rows .row {
  padding: 0.5rem 0;
}
.quote .viewQuote .contact .rows .row span {
  text-transform: uppercase;
}
.quote .viewQuote .contact .rows .delete {
  display: flex;
  justify-content: right;
}
.quote .viewQuote .messageBox {
  flex-basis: 70%;
}
.quote .viewQuote .messageBox .message {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  .quote .viewQuote .messageBox .message {
    margin: 0.5rem 0;
  }
}
.quote .viewQuote .messageBox .message h2 {
  text-align: center;
}
.quote .viewQuote .messageBox .message .viewMessage {
  padding: 2%;
  margin-bottom: 1%;
}
.quote .viewQuote .messageBox form {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  .quote .viewQuote .messageBox form {
    margin: 0.5rem 0;
    border-top: 2px solid #fff;
  }
}
.quote .viewQuote .messageBox form .btn-delete-request {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
  padding: 2rem;
}
@media screen and (max-width: 576px) {
  .quote .viewQuote .messageBox form .btn-delete-request {
    font-size: medium;
  }
}
.quote .viewQuote .messageBox form .btn-delete-request:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}
@media screen and (max-width: 768px) {
  .quote .viewQuote .messageBox form .btn-delete-request {
    font-size: 80%;
    padding: 1.5rem;
  }
}
.quote .photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 2%;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .quote .photos {
    display: block;
  }
}
.quote .photos .photo {
  align-items: top;
  flex-basis: 30%;
}
@media screen and (max-width: 768px) {
  .quote .photos .photo {
    margin-bottom: 2%;
  }
}
.quote .photos .photo img {
  width: 100%;
  border: 2px solid #fff;
}
.quote .photos .photo .download {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}
.quote .photos .photo .download a {
  text-decoration: none;
}
.quote .photos .photo .download a p {
  text-transform: uppercase;
  color: #fff;
}
.quote .photos .photo .placeholderView {
  padding: 20%;
  filter: invert(79%) sepia(43%) saturate(911%) hue-rotate(330deg) brightness(97%) contrast(98%);
}

.back {
  display: flex;
  justify-content: right;
  padding: 2rem;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.back a {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  padding: 2rem;
}

.legalRules {
  display: flex;
  text-align: justify;
  justify-content: center;
  padding: 5%;
  font-size: x-large;
}
.legalRules .develop a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .legalRules {
    text-align: center;
    font-size: large;
  }
}
.legalRules .rulesReviews {
  text-align: center;
}
.legalRules .rulesReviews p a {
  color: #f6ab36;
}

.myAccount {
  display: flex;
  justify-content: center;
}
.myAccount .account {
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 1200px) {
  .myAccount .account {
    width: 75%;
  }
}
@media screen and (max-width: 992px) {
  .myAccount .account {
    width: 80%;
  }
}
.myAccount .account .viewAccount {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
@media screen and (max-width: 992px) {
  .myAccount .account .viewAccount {
    display: block;
  }
}
.myAccount .account .viewAccount .items-account {
  flex-basis: 45%;
}
.myAccount .account .viewAccount .items-account h2 {
  margin-bottom: 7%;
}
.myAccount .account .viewAccount .items-account .item-view {
  margin-bottom: 4%;
  background-color: #000;
  color: #f6ab36;
  padding: 2.8rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .myAccount .account .viewAccount .items-account .item-view {
    padding: 6.5%;
  }
}
.myAccount .account .viewAccount .items-account .item-view h3 {
  margin-bottom: 4%;
}
.myAccount .account .viewAccount .items-account .adminAccess {
  margin-top: 13.5%;
}
.myAccount .account .viewAccount .items-account .adminAccess a {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3% 7%;
}
@media screen and (max-width: 576px) {
  .myAccount .account .viewAccount .items-account .adminAccess a {
    font-size: medium;
  }
}
.myAccount .account .viewAccount .items-account .adminAccess a:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}
.myAccount .account .viewAccount .items-account .deleteAccount .btn-account {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
  background-color: #710d0d;
}
@media screen and (max-width: 576px) {
  .myAccount .account .viewAccount .items-account .deleteAccount .btn-account {
    font-size: medium;
  }
}
.myAccount .account .viewAccount .items-account .deleteAccount .btn-account:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}
.myAccount .account .viewAccount .items-account-address {
  flex-basis: 45%;
}
.myAccount .account .viewAccount .items-account-address h3 {
  margin: 2rem 0 1rem 0;
}
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView {
  justify-content: space-around;
}
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView label,
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView input,
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView select {
  display: flex;
  width: 100%;
}
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView input,
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView select {
  background-color: #000;
  color: #f6ab36;
  padding: 3% 8%;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}
.myAccount .account .viewAccount .items-account-address .address-account .address .addressView label {
  color: #f6ab36;
  margin-bottom: 0.2rem;
}
.myAccount .account .viewAccount .items-account-address input[type=submit] {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
}
@media screen and (max-width: 576px) {
  .myAccount .account .viewAccount .items-account-address input[type=submit] {
    font-size: medium;
  }
}
.myAccount .account .viewAccount .items-account-address input[type=submit]:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}

.confirmeDeleteAccount {
  display: flex;
  justify-content: center;
}
.confirmeDeleteAccount .deleteAccount h1 {
  font-size: 150%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 5rem 0;
}
.confirmeDeleteAccount .deleteAccount h2 {
  margin: 0 0 2rem 0;
  text-align: center;
}
.confirmeDeleteAccount .deleteAccount .btn {
  display: flex;
  justify-content: center;
}
.confirmeDeleteAccount .deleteAccount .btn a {
  text-align: center;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 8%;
  margin: 3rem 0;
  cursor: pointer;
  font-size: x-large;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .confirmeDeleteAccount .deleteAccount .btn a {
    font-size: medium;
  }
}
.confirmeDeleteAccount .deleteAccount .btn a:hover {
  background-color: #315122;
  border: 0.4rem solid #828481;
}

.pricesPage {
  margin: 4rem;
}
.pricesPage .categoriesPrices {
  table-layout: auto;
  width: 100%;
  justify-content: center;
  margin-bottom: 2%;
  font-weight: bolder;
}
@media screen and (max-width: 992px) {
  .pricesPage .categoriesPrices {
    font-size: 80%;
  }
}
@media screen and (max-width: 768px) {
  .pricesPage .categoriesPrices {
    font-size: 65%;
  }
}
@media screen and (max-width: 768px) {
  .pricesPage .categoriesPrices {
    font-size: 50%;
  }
}
.pricesPage .categoriesPrices .standardPrices,
.pricesPage .categoriesPrices .optionsPrices {
  display: table;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  background-color: #40423f;
}
.pricesPage .categoriesPrices .standardPrices thead tr th,
.pricesPage .categoriesPrices .standardPrices thead tr td,
.pricesPage .categoriesPrices .standardPrices tbody tr th,
.pricesPage .categoriesPrices .standardPrices tbody tr td,
.pricesPage .categoriesPrices .optionsPrices thead tr th,
.pricesPage .categoriesPrices .optionsPrices thead tr td,
.pricesPage .categoriesPrices .optionsPrices tbody tr th,
.pricesPage .categoriesPrices .optionsPrices tbody tr td {
  text-transform: uppercase;
  border: 2px solid #f6ab36;
  padding: 2.5rem;
}
@media screen and (max-width: 1200px) {
  .pricesPage .categoriesPrices .standardPrices thead tr th,
.pricesPage .categoriesPrices .standardPrices thead tr td,
.pricesPage .categoriesPrices .standardPrices tbody tr th,
.pricesPage .categoriesPrices .standardPrices tbody tr td,
.pricesPage .categoriesPrices .optionsPrices thead tr th,
.pricesPage .categoriesPrices .optionsPrices thead tr td,
.pricesPage .categoriesPrices .optionsPrices tbody tr th,
.pricesPage .categoriesPrices .optionsPrices tbody tr td {
    padding: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .pricesPage .categoriesPrices .standardPrices thead tr th,
.pricesPage .categoriesPrices .standardPrices thead tr td,
.pricesPage .categoriesPrices .standardPrices tbody tr th,
.pricesPage .categoriesPrices .standardPrices tbody tr td,
.pricesPage .categoriesPrices .optionsPrices thead tr th,
.pricesPage .categoriesPrices .optionsPrices thead tr td,
.pricesPage .categoriesPrices .optionsPrices tbody tr th,
.pricesPage .categoriesPrices .optionsPrices tbody tr td {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .pricesPage .categoriesPrices .standardPrices thead tr th,
.pricesPage .categoriesPrices .standardPrices thead tr td,
.pricesPage .categoriesPrices .standardPrices tbody tr th,
.pricesPage .categoriesPrices .standardPrices tbody tr td,
.pricesPage .categoriesPrices .optionsPrices thead tr th,
.pricesPage .categoriesPrices .optionsPrices thead tr td,
.pricesPage .categoriesPrices .optionsPrices tbody tr th,
.pricesPage .categoriesPrices .optionsPrices tbody tr td {
    padding: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .pricesPage .categoriesPrices .standardPrices thead tr th,
.pricesPage .categoriesPrices .standardPrices thead tr td,
.pricesPage .categoriesPrices .standardPrices tbody tr th,
.pricesPage .categoriesPrices .standardPrices tbody tr td,
.pricesPage .categoriesPrices .optionsPrices thead tr th,
.pricesPage .categoriesPrices .optionsPrices thead tr td,
.pricesPage .categoriesPrices .optionsPrices tbody tr th,
.pricesPage .categoriesPrices .optionsPrices tbody tr td {
    padding: 0.3rem;
  }
}
.pricesPage .categoriesPrices .standardPrices thead tr th a,
.pricesPage .categoriesPrices .standardPrices thead tr td a,
.pricesPage .categoriesPrices .standardPrices tbody tr th a,
.pricesPage .categoriesPrices .standardPrices tbody tr td a,
.pricesPage .categoriesPrices .optionsPrices thead tr th a,
.pricesPage .categoriesPrices .optionsPrices thead tr td a,
.pricesPage .categoriesPrices .optionsPrices tbody tr th a,
.pricesPage .categoriesPrices .optionsPrices tbody tr td a {
  color: #fff;
}
.pricesPage .categoriesPrices .standardPrices thead tr th,
.pricesPage .categoriesPrices .standardPrices tbody tr th,
.pricesPage .categoriesPrices .optionsPrices thead tr th,
.pricesPage .categoriesPrices .optionsPrices tbody tr th {
  background-color: rgba(0, 0, 0, 0.5);
}
.pricesPage .categoriesPrices .optionsPrices tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}
.pricesPage .categoriesPrices .optionsPrices tr:nth-child(even) {
  background-color: #40423f;
}

.slideReviews {
  margin: 3% 5%;
}
.slideReviews #splideReviews, .slideReviews #splideReviewsAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}
.slideReviews #splideReviews:hover .splide__arrows, .slideReviews #splideReviewsAdmin:hover .splide__arrows {
  opacity: 1;
  transition: opacity 0.2s;
}
.slideReviews #splideReviews .splide__track .splide__list .splide__slide, .slideReviews #splideReviewsAdmin .splide__track .splide__list .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
}
.slideReviews #splideReviews .splide__arrows, .slideReviews #splideReviewsAdmin .splide__arrows {
  opacity: 0;
  transition: opacity 0.5s;
}
.slideReviews #splideReviews .splide__arrows .splide__arrow, .slideReviews #splideReviewsAdmin .splide__arrows .splide__arrow {
  background-color: #f6ab36;
  opacity: 0.1;
  font-size: 150%;
  transition: opacity 0.8s;
}
.slideReviews #splideReviews .splide__arrows .splide__arrow:hover, .slideReviews #splideReviewsAdmin .splide__arrows .splide__arrow:hover {
  opacity: 1;
  transition: opacity 0.8s;
}

.slidePictures {
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .slidePictures {
    border-radius: 2rem;
  }
}
.slidePictures #splidePictures:hover .splide__arrows {
  opacity: 1;
  transition: opacity 0.2s;
}
.slidePictures #splidePictures .splide__track {
  padding-bottom: 7rem;
}
@media screen and (max-width: 768px) {
  .slidePictures #splidePictures .splide__track {
    padding-bottom: 4rem;
  }
}
.slidePictures #splidePictures .splide__track h2 {
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .slidePictures #splidePictures .splide__track h2 {
    font-size: 100%;
  }
}
.slidePictures #splidePictures .splide__arrows {
  opacity: 0;
  transition: opacity 0.5s;
}
.slidePictures #splidePictures .splide__arrows .splide__arrow {
  background-color: #f6ab36;
  opacity: 0.3;
  font-size: 150%;
  transition: opacity 0.8s;
}
@media screen and (max-width: 768px) {
  .slidePictures #splidePictures .splide__arrows .splide__arrow {
    font-size: 200%;
  }
}
.slidePictures #splidePictures .splide__arrows .splide__arrow:hover {
  opacity: 1;
  transition: opacity 0.8s;
}

html {
  background-color: #000;
}

body {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(15, 15, 15, 0.7) 51%, rgba(0, 0, 0, 0.7) 100%), url("../../img/background-carbone.webp");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Jura", sans-serif;
  margin: 0 6rem;
  min-height: 100vh;
}
@media screen and (max-width: 1200px) {
  body {
    margin: 0;
  }
}

main {
  min-height: 71vh;
  color: #fff;
  font-size: 150%;
}
@media screen and (max-width: 1200px) {
  main {
    font-size: 125%;
  }
}
@media screen and (max-width: 768px) {
  main {
    font-size: 100%;
  }
}
main .view {
  background: url("../../img/Lamborghini.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
main .view .txtView {
  width: 100%;
  text-align: center;
  padding: 2% 0;
  font-weight: bolder;
  text-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
}
main .view .txtView .txtHome {
  padding: 2% 0;
  margin: 2% 10%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px -10px 10px rgba(255, 255, 255, 0.2), -10px 10px 10px rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
}
@media screen and (max-width: 768px) {
  main .view .txtView .txtHome {
    font-size: 125%;
    border-radius: 1rem;
  }
}
main .view .txtView .txtHome:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.ceo {
  display: flex;
  justify-content: center;
  margin: 5% 10%;
}
@media screen and (max-width: 768px) {
  .ceo {
    margin: 7%;
  }
}
@media screen and (max-width: 576px) {
  .ceo {
    margin: 4%;
  }
}
.ceo .txtCeo {
  flex-basis: 80%;
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-size: 150%;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .ceo .txtCeo {
    font-size: 125%;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .ceo .txtCeo {
    font-size: 100%;
  }
}
.ceo .pictCeo {
  flex-basis: 20%;
  background: no-repeat url("../../img/image.svg");
  background-size: contain;
  background-position: right;
  filter: invert(79%) sepia(43%) saturate(911%) hue-rotate(330deg) brightness(97%) contrast(98%);
}
.ceo .pictCeo img {
  width: 100px;
}

.reviews {
  text-align: center;
  padding: 2% 5%;
  margin: 5% 7%;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 100%;
}
@media screen and (max-width: 768px) {
  .reviews {
    margin: 2%;
    border-radius: 2rem;
    font-size: 80%;
  }
}
@media screen and (max-width: 768px) {
  .reviews {
    font-size: 65%;
  }
}
.reviews h2 {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .reviews h2 {
    font-size: 100%;
  }
}
.reviews .controlReviews a {
  color: #fff;
}

.services {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .services {
    display: block;
    margin-top: 2rem;
  }
}
.services .servicesView {
  flex-basis: 25%;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  margin: 1rem 0;
  text-shadow: 3px 3px 10px #000;
}
@media screen and (max-width: 1200px) {
  .services .servicesView {
    flex-basis: 30%;
  }
}
@media screen and (max-width: 768px) {
  .services .servicesView {
    margin: 2rem;
  }
}
.services .servicesView h3 {
  text-transform: uppercase;
}
.services .servicesView hr {
  height: 0.3rem;
  border: none;
  background-color: #f6ab36;
}
.services .servicesView .listServices {
  margin: 4rem 0;
}
@media screen and (max-width: 768px) {
  .services .servicesView .listServices {
    margin: 2rem;
  }
}

.price,
.contacts {
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  cursor: pointer;
  margin: 10rem;
  padding: 3rem 0;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .price,
.contacts {
    margin: 2rem;
    padding: 1.5rem 0;
    font-size: 125%;
  }
}
.price:hover,
.contacts:hover {
  color: #f6ab36;
  background-color: #353434;
}
.price span,
.contacts span {
  font-weight: bold;
  text-decoration: underline;
}

.pictures {
  margin: 0 7% 7% 7%;
}
@media screen and (max-width: 768px) {
  .pictures {
    margin: 0 2% 2% 2%;
  }
}
.pictures .picturesView {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .pictures .picturesView {
    display: block;
    margin: 5%;
  }
}
@media screen and (max-width: 576px) {
  .pictures .picturesView {
    display: block;
    margin: 3%;
  }
}
.pictures .picturesView .before {
  flex-basis: 45%;
}
.pictures .picturesView .before .imgBefore {
  position: relative;
}
@media screen and (max-width: 576px) {
  .pictures .picturesView .before .imgBefore {
    margin: 3%;
  }
}
.pictures .picturesView .before .imgBefore img {
  max-width: 100%;
  border-radius: 2rem;
}
.pictures .picturesView .before .imgBefore .txtBefore {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bolder;
  text-shadow: 3px 3px 10px #000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2rem 2rem;
}
.pictures .picturesView .before .imgBefore .txtBefore p {
  line-height: 45px;
  font-size: 2rem;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .pictures .picturesView .before .imgBefore .txtBefore p {
    font-size: 80%;
  }
}
.pictures .picturesView .after {
  flex-basis: 45%;
}
@media screen and (max-width: 576px) {
  .pictures .picturesView .after {
    padding-top: 2rem;
  }
}
.pictures .picturesView .after .imgAfter {
  position: relative;
}
.pictures .picturesView .after .imgAfter img {
  max-width: 100%;
  border-radius: 2rem;
}
@media screen and (max-width: 576px) {
  .pictures .picturesView .after .imgAfter {
    margin: 3%;
  }
}
.pictures .picturesView .after .imgAfter .txtAfter {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bolder;
  text-shadow: 3px 3px 10px #000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2rem 2rem;
}
.pictures .picturesView .after .imgAfter .txtAfter p {
  line-height: 45px;
  font-size: 2rem;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .pictures .picturesView .after .imgAfter .txtAfter p {
    font-size: 80%;
  }
}

.infosSociety {
  display: flex;
  justify-content: space-evenly;
  background-color: #40423f;
  border: 0.4rem solid #f6ab36;
  border-radius: 2rem;
  margin: 5rem;
  padding: 5rem;
}
@media screen and (max-width: 768px) {
  .infosSociety {
    display: block;
    margin: 2rem;
    padding: 1.5rem;
  }
}
.infosSociety .society {
  flex-basis: 45%;
}
.infosSociety .society p {
  text-shadow: 3px 3px 10px #000;
  margin: 1.5rem 0;
}
@media screen and (max-width: 768px) {
  .infosSociety .society p {
    text-align: center;
  }
}
.infosSociety .society #nameSociety {
  font-size: 150%;
  text-transform: uppercase;
}
.infosSociety .society #openingQuestion {
  text-transform: uppercase;
}
.infosSociety .society #openingQuestion a {
  color: #fff;
}
.infosSociety .society #openingQuestion a:hover {
  color: #f6ab36;
}
.infosSociety .map {
  flex-basis: 45%;
  box-shadow: 3px 6px 20px #2d2d2e, -2px -4px 25px #2d2d2e;
}
.infosSociety .map iframe {
  display: flex;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
